
<div class="events">
  
  <div id="table">
    <p></p>
    EVENT: <%=event.event_name %><br>
    DESCRIPTION: <%=event.description %><br>
    DATE: <%=event.date %><br>
    TIME: <%=event.time %><br>
    ADDRESS: <%=event.address %><br>
    LOCATION: <%=event.location %><br>
    DIFFICULTY: <%=event.difficulty %><br>
  </div>

</div>