<div class="results">
  <div class="map_event">
    <p >
         NAME: : <%= @event.event_name %><br>
         DESCRIPTION: : <%= @event.description %><br>
         DATE: : <%= @event.date %><br>
         TIME: : <%= @event.time %><br>
         ADDRESS: : <%= @event.address %><br>
  </div>
    <div class="map">
        <%=image_tag("http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@event.latitude}%2C#{@event.longitude}")%>
    </p>
    </div>

    <br>
    <div class="bottom_links">
      <h5 class = "bottom_links">Your Events List</h5>
      <%  current_user.events.each do |event| %>
      <%= event.event_name  %>
      <%= link_to "Edit", edit_event_path(event) %>
      <%= link_to 'Delete', event, method: :delete, data:{confirm: "Are you Certain"} %>
      <br>
      <% end %>

     

    </div>
</div>  
      <div class="button_box">
        <div class="back">
         <%= link_to 'Back', events_path %>
        </div>
      </div>



